jpomo/target/jpomo-1.0-SNAPSHOT.jar
jpomo/target/original-jpomo-1.0-SNAPSHOT.jar
jpomo/target/maven-archiver/pom.properties
jpomo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
jpomo/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
